{
  "token":"",
  "owners": ["983787597627273267"],
  "prefix":"a!",
  "db":"mongodb+srv://debadithya:debadithya@cluster0.pme4jf7.mongodb.net/aqua?retryWrites=true&w=majority",
  "nodes": [
    {
      "name": "NODE_1",
      "url":"172.203.224.108:2333", 
      "auth": "aqu@az_drex!y",
      "secure": false
    }
  ],
  "color": "#2AE5DE",
  "logs":false,
  "searchEngine": "spsearch",
  "maxQueueSize":100,
  "maxPlaylistSize":100,
  "topggUri":"https://top.gg/bot/777165206203007017/vote",
  "clientID":"985530826429190175",
  "supportUri":"https://discord.gg/aqua-music-support-842773814290022490",
  "disstat_apiKey":"Disstat_api_key"
}